AbsenceWebApp/obj/
AbsenceWebApp/Obj/
AbsenceWebApp/bin/
AbsenceWebApp/Bin/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Build results
AbsenceWebApp/[Dd]ebug/
AbsenceWebApp/[Dd]ebugPublic/
AbsenceWebApp/[Rr]elease/
AbsenceWebApp/[Rr]eleases/
AbsenceWebApp/x64/
AbsenceWebApp/x86/
AbsenceWebApp/[Aa][Rr][Mm]/
AbsenceWebApp/[Aa][Rr][Mm]64/
AbsenceWebApp/bld/
AbsenceWebApp/[Bb]in/
AbsenceWebApp/[Oo]bj/
AbsenceWebApp/[Ll]og/


# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# .NET Core
AbsenceWebApp/project.lock.json
AbsenceWebApp/project.fragment.lock.json
AbsenceWebApp/artifacts/



# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets