USE [master]
GO
/****** Object:  Database [AbsenceIS]    Script Date: 12.01.2020 14:43:40 ******/
CREATE DATABASE [AbsenceIS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AbsenceIS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AbsenceIS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AbsenceIS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AbsenceIS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AbsenceIS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AbsenceIS]
GO
/****** Object:  Table [dbo].[Absences]    Script Date: 12.01.2020 14:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Absences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DateTimeFrom] [datetime] NOT NULL,
	[DateTimeTo] [datetime] NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[DateOfCreated] [datetime] NOT NULL,
	[Accepted] [bit] NULL,
	[AcceptedPersonId] [int] NULL,
	[AcceptedDate] [datetime] NULL,
	[AcceptedNote] [nvarchar](500) NULL,
 CONSTRAINT [PK_Absences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12.01.2020 14:43:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Absences] ADD  CONSTRAINT [DF_Absences_Accepted]  DEFAULT ((0)) FOR [Accepted]
GO
ALTER TABLE [dbo].[Absences]  WITH CHECK ADD  CONSTRAINT [FK_Absences_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Absences] CHECK CONSTRAINT [FK_Absences_Users]
GO
ALTER TABLE [dbo].[Absences]  WITH CHECK ADD  CONSTRAINT [FK_Absences_Users1] FOREIGN KEY([AcceptedPersonId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Absences] CHECK CONSTRAINT [FK_Absences_Users1]
GO
USE [master]
GO
