@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center row">
        <div class="text-left col-5">
            <br />
            <h1 class="display-4">Welcome</h1>
            <p>...on AbsenceWebApp</p>
            <p>Web app for requesting and approving absences.</p>

            <p>Few rules:</p>
            <p>Just <b>employees</b> can making requests for absence</p>
            <p>Just <b>management</b> can making approve a requests</p>
            <p>Just <b>admin</b> can manage users rights</p>
        </div>
        <div class="text-left col-5 offset-1">
            <br />
            <br />
            <br />
            <h4>What was used in project</h4>
            <ul>
                <li>Dependency Injection</li>
                <li>MVC architecture</li>
                <li>Linq</li>
                <li>non generic repository (generic one is prepared)</li>
                <li>inheritance</li>
                <li>interface</li>
                <li>partial view</li>
                <li>...</li>

            </ul>
        </div>

    </div>
