@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>...on AbsenceWebApp</p>
        <p>Web app for requesting and approving absences.</p>

        <p>Few rules:</p>
        <p>Just <b>employees</b> can making requests for absence</p>
        <p>Just <b>management</b> can making approve a requests</p>
        <p>Just <b>admin</b> can manage users rights</p>

    </div>
