@model AbsenceWebApp.Models.Absence

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Detail absence</h2>
<br />


<form method="post" asp-action="Detail">
    <div class="border backgroundWhite">
        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    <label asp-for="ApplicationUser.Name" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ApplicationUser.Name" readonly class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-2">
                    <label asp-for="DatetimeFrom" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="DatetimeFrom" readonly class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-2">
                    <label asp-for="DatetimeTo" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="DatetimeTo" readonly class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-2">
                    <label asp-for="Reason" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Reason" readonly class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-2">
                    <label asp-for="Approved" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    @if (Model.Approved == true)
                    {
                        <i class="fas fa-check-circle"></i>
                    }
                    @if (Model.Approved == false)
                    {
                        <p>X</p>
                    }
                    @if (Model.Approved == null)
                    {
                        <i class="fas fa-question-circle"></i>
                    }
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-2">
                    <label asp-for="ApplicationUserApprovedBy.Name" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ApplicationUserApprovedBy.Name" readonly class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-2">
                    <label asp-for="ApprovedDate" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ApprovedDate" readonly class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DetailApproveDissaproveBackToListButton" model="Model.Id" />
            </div>
        </div>
    </div>
</form>